.header {
    background: #282831;
    flex: 1;
}

.header-content {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.title {
    font: 3em "Roboto Slab";
    line-height: 95px;
    letter-spacing: 0.1em;
    color: #FDEFEF;
}

.menu-item {
    float: right;
    font: 1.4em "Roboto Slab";
    margin-right: 1em;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #FDEFEF;
}