.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.content {
    flex: 10;
}

.footer {
    flex: 1;
    height: 2em;
    background: #282831;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
}