.title {
    color: pink;
    text-shadow: none;
    font-size: 1.4em;
}

.description {
    text-shadow: none;
}

.container {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    margin: 1em;
    flex-flow: row wrap;
}

.container :hover {
    -webkit-box-shadow: 3px -3px 5px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    3px -3px 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow:         3px -3px 5px 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(0deg, rgba(198,186,172,1) 32%, rgba(185,173,158,1) 67%, rgba(144,135,123,1) 100%);
}

.entry {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background: rgba(250, 235, 215, 0.07);
    width: auto;
    color: white;
    padding: 1em;
    border-radius: 1em;
    margin: 2em;
    -webkit-box-shadow: 3px -3px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    3px -3px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow:         3px -3px 5px 0 rgba(0, 0, 0, 0.2);
}

.entry :hover {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    background: transparent;
}

.description {
    line-height: 0.2em;
}

.description :hover {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    background: transparent;
}